@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    /* *Font Stuff */
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;

    /* *Colors */
    /* Primary Colors */
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: dark cyan: hsl(179, 100%, 13%);

    /* Neutral Colors */
    --p-color: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}

*,
*::after
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.container{
    width: 1440px;
    height: 95vh;
}